.App {
  text-align: center;
}

.App-logo {
  height: 60px;
  pointer-events: none;
}

.profile-wrap {
  grid-column: span 2 / span 2;
  background: rgba(27, 26, 26, 0.37);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile-wrap p {
  margin: 4px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  background-color: #282c34;
}
.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
